.App {
  text-align: center;
}

:root {
  --discord-blue: #5865f2;
  --twilight: #27193d;
  --midnight: #030017;
  --dusk: #483a5a;
}

html,
body,
#root {
  height: 100%;
}

.bg-discord {
  background-color: var(--discord-blue);
}

.border-discord {
  border-color: var(--discord-blue);
}
